
<mat-card >
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSignUp()" *ngIf="!isLoading">

    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="form.get('email').invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Complete Name(Lastname, Firstname M.I.)</mat-label>
      <input matInput formControlName="completeName" type="text">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password').invalid">Password is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('confirmPassword').invalid"> {{ getConfirmPasswordErrorMessage() }} </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="warn"
      type="submit" >Sign Up</button>
  </form>
</mat-card>
